@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');


@font-face {
  font-family: 'Trajan';
  src: url('/fonts/TrajanPro-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.enquiry-modal {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.enquiry-content {
  border-radius: 10px;
  position: relative;
  width: 85%;
  height: 90%;
  overflow: scroll;
}
.enquiry-content::-webkit-scrollbar{
  display: none;
}
.close-btn {
  position: absolute;
  top: 60px;
  right: 140px;
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: var(--primary-color);
  z-index: 100;
}
.close-btn img{
  width: 100%;
  height: 100%;
}
/* Default START */

.googleReview {
  width: 100%;
  height: 400px;
}

.googleReview iframe {
  width: 90%;
  border: none;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #a3052d;
  --secondary-color: #6b6b6b;
  --banner: "Crimson Text", serif;
  --heading: "Nunito Sans", sans-serif;
  --content: "Montserrat", sans-serif;
  --title: "Trajan", serif;
}

::-webkit-scrollbar {
  background: black;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
}

a {
  text-decoration: none;
  color: black;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Default END */

/* Navbar START */

.navbarContainer {
  position: sticky;
  top: 0;
  z-index: 99;
}

.navbarContainer .topBar {
  width: 100%;
  padding: 10px;
  background-color: black;
  justify-content: end;
  gap: 10px;
}

.navbarContainer .topBar button {
  width: 220px;
  height: 50px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.navbarContainer .topBar button a {
  color: white;
}

.navbarContainer .navbarSection {
  width: 100%;
  /* height: 100px; */
  /* padding: 20px; */
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  gap: 8px;
  background-color: white;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transition: .5s all;
}

.navbarSection.hide,
.NavbarSmBlack.hide 
{
  transform: translateY(-200%);
}

.navbarSection.show,
.NavbarSmBlack.show 
{
  transform: translateY(0);
}

.NavListSm.hide {
  top: 39% !important;
}


.navbarContainer .navbarSection .logoContainer .navLogo {
  width: 150px;
  padding-left: 20px;
}

.navbarContainer .navbarSection .navLinkContainer {
  gap: 30px;
}

.navbarContainer .navbarSection .navLinkContainer p {
  color: var(--primary-color) !important;
  font-size: 20px;
  font-family: var(--heading);
  font-weight: 700;
}

.navbarContainer .navbarSection .navLinkContainer .active p {
  color: black;
}

.navbarSection .serviceDropDownContainer {
  position: absolute;
  width: 90%;
  height: 500px;
  backdrop-filter: blur(7px) saturate(200%);
  -webkit-backdrop-filter: blur(7px) saturate(200%);
  background-color: rgba(52, 48, 48, 0.48);
  top: 110%;
  /* left: 50% !important; */
  z-index: 99;
  /* transform: translateX(-50%) ; */
  border-radius: 10px;
  overflow: hidden;
  /* border: 1px solid black; */
}

.serviceDropDownContainer.hide {
  top: 200%;
}

.navbarSection .serviceDropDownContainer .dropdownBG {
  width: 100%;
  height: 100%;
}

.navbarSection .serviceDropDownContainer .dropdownBG img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbarSection .serviceDropDownContainer .dropdownTitle {
  display: none;
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: white;
  justify-content: space-between;
  padding: 10px;
  top: 0;
  font-family: var(--heading);
  font-weight: 700;
  /* border-bottom: 1px solid black; */
}

.navbarSection .serviceDropDownContainer .dropdownTitle .dropdownHead {
  color: var(--primary-color);
}

.navbarSection .dropdownClose {
  cursor: pointer;
  position: absolute;
  color: white;
  top: 15px;
  right: 15px;
}

.dropdownNavList {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  height: 450px;
  width: 90%;
  /* left: 50%;
  top: 0;
  transform: translateX(-50%); */
  backdrop-filter: blur(7px) saturate(200%);
  -webkit-backdrop-filter: blur(7px) saturate(200%);
  background-color: rgba(52, 48, 48, 0.48);
  border-radius: 15px;
}

.dropdownNavList div {
  width: 100%;
  height: 100%;
  /* border-radius: 15px; */
  /* border: 2px solid var(--secondary-color); */
  /* border-left:  1px solid var(--primary-color); */
  position: relative;
}

.dropdownNavList div::-webkit-scrollbar {
  display: none;
}

.dropdownNavList div .navInsideBG {
  /* background-color: var(--secondary-color); */
}

.dropdownNavList div .navInsideBG img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px)
}

.dropdownNavList div .insideNavList {
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.dropdownNavList div .insideNavList a {
  padding: 15px 10px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-family: var(--content);
  color: white;
  font-weight: 700;
  transition: .5s all;
  margin-bottom: 5px;
}

.dropdownNavList div .insideNavList .linkService {
  background-color: var(--primary-color) !important;
  padding-left: 10px;
}

.dropdownNavList .rightSide .insideNavList a {
  justify-content: start !important;
}

.dropdownNavList div .insideNavList a:hover {
  background-color: var(--primary-color);
}

.dropdownNavList .rightSide .insideNavList a:hover span {
  transform: rotate(-50deg);
  transition: .5s all;
}

.insideNavList a.chumma,
.dropdownNavList .rightSide .insideNavList a.active {
  background-color: var(--primary-color);
  color: white;
}

.NavbarSm {
  display: none;
  width: 100%;
  /* background-color: white; */
  height: fit-content;
  position: sticky;
  top: 0;
  z-index: 99;
}

.topBarSm {
  width: 100%;
  height: 80px;
  background-color: black;
  padding: 10px;
}

.topBarSm .topBarSmContent {
  width: 90%;
  border-radius: 10px;
  height: 100%;
  padding: 5px;
  justify-content: space-between;
  gap: 10px;
}

.topBarSm .topBarSmContent a {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-size: 18px;
  background-color: var(--primary-color);
  font-family: var(--content);
  font-weight: 700;
  color: white;
  cursor: pointer;
}

/* .topBarSm .topBarSmContent .smCallBtn {
  background-color: transparent;
  color: white;
} */

.NavbarSm .NavbarSmBlack {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  padding-right: 20px;
  transition: .5s all;
  background-color: white;
}

.NavbarSm .NavbarSmBlack .navLogoSm {
  width: 200px;
  margin-left: -20px;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: black;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2) {
  width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

.NavbarSm .NavListSm {
  position: absolute;
  width: 50%;
  top: 100%;
  right: 0;
  padding: 20px 25px 25px 40px;
  z-index: 99;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(102, 102, 102, 1) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: .5s all;
}

.NavbarSm .NavListSm .NavListSmNormal {
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 50px;
}

.NavbarSm .NavListSm .NavListSmNormal a {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.NavbarSm .NavListSm .NavListSmNormal a p {
  color: white;
  font-size: 30px;
  font-family: var(--content);
  font-weight: 700;
  width: 100%;
}

.NavbarSm .NavListSm .NavListSmNormal a span {
  margin: auto 15px;
}

.NavbarSm .NavListSm .NavListSmNormal a.active p {
  color: var(--primary-color);
}

.NavListSmNormal hr {
  width: 100%;
  margin-top: -30px;
}



/* Navbar END */

/* Cookies PopUp START */

.cookiesPopup {
  position: fixed;
  bottom: 40px;
  right: 50px;
  width: 320px;
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  font-family: var(--content);
}

.cookiesPopup h3 {
  width: 100%;
  font-size: 14px;
}

.cookiesPopup p {
  color: #6f6c90;
  font-size: 12px;
  margin-top: 10px;
  text-align: justify;
  line-height: 20px;
}

.cookiesPopup p a {
  color: var(--primary-color);
  font-weight: 600;
}

.cookiesPopup .cookiesBtn {
  justify-content: space-between;
  gap: 10px;
  margin-top: 15px;
}

.cookiesPopup .cookiesBtn button {
  width: 100%;
  border: none;
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 9999px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.acceptBtn {
  color: white;
  background-color: var(--primary-color) !important;
}

/* Cookies PopUp END */

/* Home START */

.homeContainer .heroContainer {
  width: 100%;
  /* height: 100vh; */
  /* overflow: hidden; */
  position: relative;
}

.homeContainer .heroContainer .heroBg {
  width: 100%;
  height: 85vh;
  object-fit: cover;
}


.homeContainer .heroContainer .heroTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5.5rem;
  color: white;
  font-family: var(--title) !important;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
}

.sectionTitle {
  font-family: var(--heading);
  margin: 50px 0;
  text-align: center;
  width: 100%;
  font-size: 40px;
  color: var(--primary-color);
  text-transform: uppercase;
}

.homeServiceCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 85%;
  margin: 50px auto;
}

.chooseUsContainer {
  background-color: #f3f2f2;
  padding: 50px 0;
}

.chooseUsContainer .chooseUsList {
  width: 90%;
  height: 200px;
  background-color: white;
  margin: 30px auto;
  padding: 20px;
  justify-content: space-between;
  font-family: var(--content);
  position: relative;
  overflow: hidden;
}

.chooseUsContainer .chooseUsList .leftside {
  gap: 20px;
}

.chooseUsContainer .chooseUsList .leftside img {
  width: 50px;
}

.chooseUsContainer .chooseUsList .leftside h3 {
  font-size: 30px;
  width: 450px;
  text-transform: uppercase;
}

.chooseUsContainer .chooseUsList p {
  font-size: 20px;
}

.aboutUsContainer {
  margin: 50px 0;
}

.aboutUsContainer .aboutUsTitle {
  width: 100%;
  height: 100px;
  position: relative;
}

.aboutUsContainer .aboutUsTitle .aboutLine {
  width: 100%;
  height: 5px;
  background-color: var(--primary-color);
}

.aboutUsContainer .aboutUsTitle .title {
  position: absolute;
  background-color: white;
  width: 80%;
  margin-top: -10px;
  padding-left: 20px;
}

.aboutUsContainer .aboutUsTitle .title h1 {
  font-size: 55px;
  text-align: start;
  font-family: var(--heading);
  font-weight: 900;
}

.aboutUsContainer .aboutUsSection {
  width: 90%;
  margin: auto;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.aboutUsContainer .aboutUsSection .leftSide h1 {
  font-size: 50px;
  font-family: var(--heading);
  font-weight: 900;
  width: 600px;
  margin-bottom: 30px;
  letter-spacing: 2px;
  line-height: 70px;
}

.aboutUsContainer .aboutUsSection .leftSide button {
  border: none;
  background-color: var(--primary-color);
  width: 250px;
  height: 55px;
  font-size: 22px;
  font-family: var(--content);
  color: white;
  border-radius: 8px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  cursor: pointer;
}

.aboutUsContainer .aboutUsSection .leftSide p {
  font-family: var(--content);
  width: 500px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 35px;
  text-align: justify;
}

.aboutUsContainer .aboutUsSection .rightSide {
  width: 40%;
}

.aboutUsContainer .aboutUsSection .rightSide .aboutUsImg {
  width: 80%;
}

/* SERVICE CARD STRAT */

.serviceCardContainer {
  height: 300px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  border: none;
}

.serviceCardContainer .serviceCardImg,
.serviceCardContainer .serviceCardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.serviceCardContainer .serviceCardContent {
  position: absolute;
  width: 100%;
  height: 50%;
  padding: 20px;
  backdrop-filter: blur(5px) saturate(200%);
  -webkit-backdrop-filter: blur(5px) saturate(200%);
  background-color: rgba(12, 1, 1, 0.18);
  bottom: 0;
}

.serviceCardContainer .serviceName {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-family: var(--content);
}

.serviceCardContainer .serviceCardContent .ServiceCardBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  font-weight: 500;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
}

/* SERVICE CARD END */

/* ENGUIRY FROM START */

.enquiryFromContainer {
  width: 80%;
  margin: 50px auto;
  position: relative;
  height: 900px;
  background-color: #363636;
  border-radius: 20px;
}

.enquiryFromContainer .enquiryForm {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  /* overflow: hidden; */
}

.threeGridForm,
.twoGridForm,
.oneGridForm {
  margin-bottom: 30px;
}

.enquiryFromContainer .enquiryForm .threeGridForm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.enquiryFromContainer .enquiryForm .twoGridForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.fromDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: red;
  margin-top: 5px;
}

.fromDiv label {
  color: white;
  font-size: 16px;
  font-family: var(--content);
}

.FormMandatory {
  color: #e32;
}

.fromDiv input,
.fromDiv select {
  height: 60px;
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 0 10px;
}

.fromDiv select {
  /* Arrow */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

.fromDiv .selectCountry {
  display: flex;
  align-items: center;
}

.fromDiv .selectCountry input {
  width: 100%;
}

.fromDiv textarea {
  border-radius: 6px;
  border: none;
  outline: none;
  padding: 10px;
  height: 200px;
  max-height: 200px;
  max-width: 100%;
  width: 100%;
}

.fromDiv input::placeholder,
.fromDiv textarea::placeholder {
  color: black;
  font-family: var(--content);
}

.flagimg {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 2px;
}

.confirmCheckBox .content {
  width: 5%;
}

.checkBox {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px white;
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: var(--primary-color);
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type="checkbox"]:checked+div {
  left: -10px;
  top: -10px;
}

.checkBox input[type="checkbox"] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}

.confirmCheckBox {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.confirmCheckBox p {
  font-size: 16px;
  font-family: var(--content);
  color: white;
  font-weight: 600;
}

.sendbtn {
  width: 200px;
  margin-top: 20px;
  height: 50px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

/* ENGUIRY FROM END */

/* Home END */

















/* About US Starts */
.about-section {
  height: 80vh;
  width: 95%;
  margin: 50px auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.about-section:before {
  content: "";
  position: absolute;
  width: 36%;
  left: 50px;
  top: -35px;
  height: 3px;
  background-color: var(--primary-color);
}

.about-section:after {
  content: "";
  position: absolute;
  width: 35%;
  right: 80px;
  top: -35px;
  height: 3px;
  background-color: var(--primary-color);
}

.about-row {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding: 20px;
}

.about-title.title {
  margin-top: 50px;
  font-size: 3rem;
  font-weight: bold;
  color: var(--primary-color);
  font-family: var(--heading);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: -50px;
  background-color: white
}

.aboutus-left {
  position: relative;
  padding: 30px 15px;
}

.about-left-content {
  width: 95%;
  margin-left: auto;
}

.aboutus-left::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 97%;
  top: -25px;
  left: 25px;
  background-color: var(--primary-color);
}

.aboutus-left::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 90%;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
}

.aboutus-left h1 {
  margin-top: 40px;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: var(--heading);
}

.aboutus-left p {
  margin: 30px 0;
  font-size: 1.5rem;
  letter-spacing: 0.6px;
  line-height: 30px;
  font-family: var(--content);
  font-weight: 400;
}

.aboutus-right {
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 1;
  position: relative;
}

.aboutus-right:before {
  content: "";
  position: absolute;
  width: 85%;
  height: 3px;
  bottom: 140px;
  left: 25px;
  background-color: var(--primary-color);
}

.aboutus-right:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 80%;
  bottom: 150px;
  right: 65px;
  background-color: var(--primary-color);
}

.about-rightimg {
  margin: 5% auto;
  width: 510px;
  height: 560px;
  padding-right: 40px;
  /* border: 3px solid var(--primary-color); */
}

.about-rightimg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-left-bottom {
  height: 50%;
  width: 98%;
  margin-left: 20px;
  position: relative;
  border: 3px solid var(--primary-color);
  padding: 40px;
}

.about-left-bottom::before {
  content: "";
  position: absolute;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  top: -30px;
  left: -20px;
  background-color: white;
}

.about-left-bottom::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: -30px;
  right: -20px;
  background-color: white;
}

.about-left-bottom .span1 {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  bottom: -30px;
  right: -20px;
  background-color: white;
}

.about-left-bottom .span2 {
  content: "";
  position: absolute;
  width: 60px;
  border-radius: 50%;
  height: 60px;
  bottom: -30px;
  left: -20px;
  background-color: white;
}

.about-bottom-img {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  object-fit: cover;
}

.about-bottom-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .about-bottom-img:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 95%;
  top: 0;
  left: 25px;
  background-color: var(--primary-color);
}

.about-bottom-img:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 95%;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
} */

/* Process starts */
.process-container {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0;
  position: relative;
}

.process-container h1 {
  font-size: 4rem;
  font-family: var(--heading);
  color: var(--primary-color);
  text-transform: uppercase;
  position: relative;
  margin-top: 50px;
}

.process-container h1:after {
  content: "";
  position: absolute;
  width: 150px;
  height: 5px;
  bottom: 5px;
  left: 0;
  background-color: var(--primary-color);
}

.process-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.process-left {
  width: 70%;
}

.process-left-content {
  padding: 30px 15px;
}

.process-left-content p {
  margin: 30px 0;
  font-size: 2rem;
  letter-spacing: 0.6px;
  line-height: 50px;
  font-family: var(--content);
  font-weight: 400;
}

.process-right {
  padding: 30px 15px;
}

.process-right .process-steps {
  font-size: 2rem;
  text-align: center;
  padding: 20px 0;
  width: 300px;
}

.process-steps p:first-child {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  /* Change Font family acc to design */
  color: var(--primary-color);
  font-size: 4.5rem;
  text-align: left;
}

.process-steps p:last-child {
  font-size: 1.6rem;
  font-family: var(--content);
  text-align: right;
}

/* Process ends */

/* Our Journey starts */
.our-journey {
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 1300px; */
  width: 90%;
  margin: 50px auto;
  border-radius: 10px;
}

.journey-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  font-family: var(--heading);
  padding: 50px 10px;
}

.journey-path-img {
  /* position: absolute; */
  top: 200px;
  right: 0;
  width: 100%;
  height: 100%;
}

.ourJourneyPathSm {
  width: 100%;
  padding: 20px;
  flex-direction: column;
  gap: 50px;
  display: none;
}
.ourJourneyPathSm p {
  color: white;
  font-family: var(--content);
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}
.journey-title {
  padding: 25px 10px;
}
.journeyPathImgContainer {
  width: 70%
}

/* Our Journey ends */
/* About US ends */
/* Our Team starts */
.team-container {
  width: 90%;
  /* height: 80vh; */
  margin: 30px auto;
  border-radius: 10px;
  /* position: relative; */
}

.team-container::-webkit-scrollbar {
  display: none;
}

.team-heading {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
}

.team-heading h2 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

.team-heading h2:first-child {
  color: var(--primary-color);
}

.team-heading p {
  font-size: 1.3rem;
  color: var(--secondary-color);
  padding: 20px 10px;
  text-align: center;
}

.team-members-cards {
  /* display: none; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(8, 1fr);
  padding-top: 500px;
  padding-bottom: 50px;
}

.team-member-card {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.team2 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.team3 {
  grid-row-start: 3;
}

.team4 {
  grid-column-start: 2;
  grid-row-start: 4;
}

.team5 {
  grid-row-start: 5;
}

.team6 {
  grid-column-start: 2;
  grid-row-start: 6;
}

.team7 {
  grid-row-start: 7;
}

.team8 {
  grid-column-start: 2;
  grid-row-start: 8;
}

.team-member-image {
  width: 380px;
  height: 410px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.team-member-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease;
}

.team-member-image .team-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(20, 21, 23);
  background: linear-gradient(180deg,
      rgba(20, 21, 23, 0.6685267857142857) 34%,
      rgba(163, 5, 45, 1) 100%);
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  text-align: center;
  /* z-index: 999; */
}

.team-member-image:hover .team-description {
  opacity: 1;
}

.team-member-info h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: var(--content);
}

.team-member-info h4 {
  font-size: 1.2rem;
  font-family: var(--banner);
  color: var(--primary-color);
}

/* Languages Spoken START */

.langContainer {
  width: 100%;
  height: 100vh;
  background-color: #fae9e9;
  perspective: 1500px;
}

.langContainer .langInsideContainer {
  /* width: 85%; */
  height: 50%;
  background-color: #3d0211;
  border-radius: 30px;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.langContainer .langInsideContainer .langTop {
  width: 100%;
  height: 70px;
  background-color: #621226db;
  color: var(--secondary-color);
  font-size: 2rem;
  font-family: var(--heading);
  font-weight: 700;
  border-radius: 30px;
}

.langBottom {
  width: 100%;
  color: var(--secondary-color);
  font-size: 1rem;
  padding: 10px 20px;
  text-align: center;
  font-family: var(--content);
}

.langItem {
  width: 100%;
}

.langItem ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px 30px;
}

.langItem ul li {
  list-style: none;
  font-size: 1rem;
  font-family: var(--content);
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  height: 100%;
}

.langItem p {
  font-size: 1rem;
  font-family: var(--content);
  padding: 10px 30px;
  color: white;
}

/* Languages Spoken END */

/* Our Team ends */

/* Careers star */
.careers-section {
  padding: 50px 0;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.email-btn {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 20px;
  font-size: 1.5rem;
  margin: 30px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.careers-text1 {
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  margin: 30px 0;
  line-height: 30px;
}

.careers-text2 {
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
}

.careers-text2 a {
  color: var(--primary-color);
}

/* Careers ends*/
































/* Faq Container */
/* Murali */

.faq-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
}

.faq-container .faq-bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
}

.faq-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Centering the FAQ Section */
.faq-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 60%;
  margin: auto;
  padding: 20px;
}

/* FAQ Box Styling */
.faq {
  width: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 3px solid var(--primary-color);
}

.faq:hover .faq-header {
  padding: 0px 20px;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.faq-header h3 {
  color: var(--primary-color);
  font-size: 22px;
  font-family: var(--heading);
}

/* Arrow Rotation */
.arrow {
  transition: transform 0.5s ease-in-out;
  font-size: 30px;
  font-weight: 700;
  color: var(--primary-color);
  transform: rotate(100deg);
}
.downarrow{
  width: 10px !important;
  transform: rotate(-10deg);
}
/* FAQ Answer */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out,
    padding 0.2s ease-in-out;
  padding: 0 15px;
  line-height: 30px;
}

/* When Open, Expand the Content */
.faq.open .faq-answer {
  max-height: 200px;
  transform: scaleY(1);
  opacity: 1;
  padding: 15px;
  border-top: 2px solid var(--primary-color);
  font-family: var(--content);
}


/* Cookies START*/
.cookies-top-content {
  padding: 20px 50px;
}

.cookies-top-content h2 {
  padding: 20px 30px;
  line-height: 50px;
  font-family: var(--heading);
}

.cookies-container {
  display: flex;
  min-height: 100vh;
  color: #333;
}

.cookies-sidebar {
  width: 30%;
  background: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cookies-nav-btn {
  background: none;
  border: none;
  text-align: left;
  padding: 10px;
  font-size: 22px;
  font-family: var(--heading);
  cursor: pointer;
  color: var(--primary-color);
  font-weight: bold;
  width: 100%;
  line-height: 40px;
  transition: background 0.3s;
  border-bottom: 3px solid #6b6b6b;
}

.cookies-nav-btn:hover {
  background: #f0e0e0;
}

.cookies-content {
  flex: 1;
  padding: 30px;
  background: #fff;
}

.cookies-section {
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
}

.cookies-section h2 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #b30000;
  font-weight: 800;
  letter-spacing: 2px;
  font-family: var(--heading)
}

.section-list {
  list-style-type: decimal;
  margin-left: 15px;
  font-family: var(--content);
}

.cookies-section p,
.cookies-section ul {
  font-size: 15px;
  color: #000000;
  font-family: var(--content);
  padding: 10px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.section-container {
  background: #f5e4e8;
  padding: 20px;
}

.cookies-section ul li {
  margin-bottom: 8px;
}

.policy-list {
  list-style-type: decimal;
  margin-left: 10px;
}

.policy-list-point {
  list-style-type: square;
  margin-left: 10px;
}

.custom-link {
  text-decoration: underline;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  height: 70vh;
}


.info-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width:30%;
}

.info-item {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.info-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.info-text {
  position: relative;
  display: inline-block;
  font-size: 25px;
  font-family: var(--heading);
}

.info-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #e59d9d;
  z-index: -1;
}

.social-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.social-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.right-icon {
  margin-left: 90px;
}

.social-logo-img {
  width: 80px;
  height: 100px;
  border-radius: 8px;
}

.social-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 90px;
}

.social-title {
  font-weight: bold;
  font-family:var(--heading);
  
}

.social-desc {
  font-size: 12px;
  color: gray;
  font-family: var(--content);
 
}

.social-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-logo::after {
  content: "";
  display: block;
  height: 2px;
  width: 180px;
  background: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 93%;
}

/* contact form */


/* map -container  */
.map-container {
  width: 95%;
  height: 500px;
  margin: 40px auto;
}

.map-container iframe {
  width: 100% !important;
  height: 100%;
}

/* 404 page Start */
.page-not-found {
  height: 80vh;
}

.error-page-cont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  text-align: center;
}

.error-code {
  font-size: 200px;
  font-weight: bold;
  color: #eeeeee;
  position: relative;
  font-family: var(--heading);
  margin-bottom: -50px;
}

.ghost {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  position: absolute;
  top: 27%;
}

.ghost-icon {
  width: 100px;
  height: 100px;
  animation: floatGhost 2s ease-in-out infinite;
}

@keyframes floatGhost {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

.page-not-found h2 {
  font-size: 24px;
  color: #333;
  font-family: var(--heading);
  font-weight: 700;
  letter-spacing: 1px;
}

.page-not-found p {
  font-size: 16px;
  line-height: 30px;
  color: #666;
}

.return-home {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}

.return-home:hover {
  background-color: darkred;
}

/* 404 ends */





































































/* Banner Starts */

.banner-main {
  position: relative;
  width: 100%;
  height: 50vh;
}

.banner-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.banner-section {
  position: absolute;
  width: fit-content;
  color: white;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
  background: rgba(255, 255, 255, 0.09);
  padding: 1rem 2rem;
  border-radius: 15px;
  backdrop-filter: blur(15px);
}

.banner-logo {
  width: 140px;
  height: 80px;
  background: white;
}

.banner-logo img {
  width: 100%;
  height: 100%;
}

.banner-heading h1 {
  font-family: var(--heading);
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  text-align: center;
}

.banner-content p {
  font-family: var(--content);
  font-size: 18px;
  text-align: center;
  width: 95%;
  margin: auto;
  word-spacing: 2px;
  font-weight: 300;
}

.banner-button button {
  padding: 0.5rem 1rem;
  background: white;
  border: none;
  font-family: var(--content);
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  color:black;
}

.banner-section-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  top: -40px;
}

/* Banner Ends */

/* Service Starts */

.service-main {
  padding-top: 5rem;
}

.service-top {
  display: flex;
  width: 90%;
  margin: auto;
  background: black;
  border-radius: 10px;
  padding: 1rem 3rem;
  gap: 3rem;
  align-items: center;
}

.service-top-img {
  width: 500px;
  height: 300px;
  padding-top: 2rem;
}

.service-top-img img {
  width: 100%;
  height: 100%;
}

.service-section {
  color: white;
}

.service-section-head h1 {
  text-transform: capitalize;
  font-size: 44px;
  font-family: var(--heading);
  font-weight: 800;
  padding-bottom: 2rem;
  letter-spacing: 1px;
}

.service-content {
  font-size: 24px;
  word-spacing: 2px;
  letter-spacing: 2px;
  font-family: var(--content);
  line-height: 40px;
}

.service-title {
  display: flex;
  background: var(--primary-color);
  align-items: center;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  box-shadow: 4px 7px 14.1px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto;
  gap: 2rem;
  position: relative;
  padding: 2rem;
}

.service-name h1 {
  font-size: 28px;
  color: white;
  text-transform: capitalize;
  font-family: var(--heading);
}

.service-list-mobile {
  display: none;
}

/* Service Ends */

/* ServiceSection Starts */

.serviceSection-section1 {
  background: rgba(163, 5, 45, 0.11);
  padding: 5rem;
  position: relative;
}

.section1-full-content {
  display: flex;
  position: relative;
  /* align-items: center; */
}

.section1-head {
  font-size: 35px;
  z-index: 5;
  position: relative;
  padding-bottom: 5rem;
}

.section1-head h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: var(--heading);
  letter-spacing: 3px;
}

.section1-bgHead {
  position: absolute;
  font-size: 60px;
  left: 45%;
  transform: translateX(-50%);
  z-index: 4;
  top: 5%;
  filter: opacity(7%);
}

.section1-bgHead h1 {
  text-transform: uppercase;
  font-family: var(--heading);
  letter-spacing: 8px;
  font-weight: 800;
  color: var(--primary-color);
}

.section1-content p {
  font-size: 28px;
  line-height: 80px;
  font-family: var(--content);
  letter-spacing: 2px;
  word-spacing: 3px;
}

.section1-left {
  width: 70%;
}

.section1-right {
  width: 30%;
}

.section1-right-img {
  width: 100%;
}

.section1-right-img img {
  width: 100%;
}


.serviceSection-section3 {
  position: relative;
  margin-top: 10rem !important;
  width: 90%;
  margin: auto;
}

.section3-head {
  font-size: 30px;
  z-index: 5;
  position: relative;
  padding-bottom: 5rem;
}

.section3-head h1 {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: var(--heading);
  letter-spacing: 3px;
}

.section3-bgHead {
  position: absolute;
  font-size: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  top: -4%;
  filter: opacity(7%);
  width: 100%;
  text-align: center;
}

.section3-bgHead h1 {
  text-transform: uppercase;
  font-family: var(--heading);
  letter-spacing: 8px;
  font-weight: 800;
  color: var(--primary-color);
}

.section3-list-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 0;
}

.section3-content-l {
  width: 70%;
}

.section3-content-r {
  width: 20%;
}

.section3-content-head h1 {
  font-size: 40px;
  color: var(--primary-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: var(--heading);
  border-bottom: 5px solid black;
  padding-bottom: 1rem;
}

.section3-content-line p {
  font-size: 24px;
  line-height: 35px;
  font-family: var(--content);
  padding-top: 1rem;
}

.section3-readmore h1 {
  text-transform: uppercase;
  color: var(--primary-color);
  font-family: var(--heading);
  cursor: pointer;
}

/* ServiceSection Ends */

/* Footer Starts */
.footer-container {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-top: 50px;
}

.footer-main {
  width: 95%;
  margin: auto;
  padding: 3rem 0 1rem 0;
}

.footer-top {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  color: white;
}

.footer-section1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  order: 2;
  width: 80%;
  margin: auto;

}

.footer-section1-head h1 {
  font-size: 28px;
  text-transform: uppercase;
  font-family: var(--heading);
}

.address-head h1 {
  font-size: 20px;
  font-family: var(--heading);
  font-weight: 300;
  padding-bottom: 0.5rem;
}

.address-content p {
  font-size: 16px;
  font-family: var(--content);
  width: 100%;
  font-weight: 300;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 28px;
}

.footer-section1-email a {
  font-size: 16px;
  font-family: var(--content);
  font-weight: 300;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 28px;
  color: white;
}


.footer-section1-phone a {
  font-size: 16px;
  font-family: var(--content);
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 28px;
  color: white;
}

.footer-section1-icons {
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}

.footer-icons {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.footer-icons img {
  width: 100%;
  height: 100%;
}

.footer-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 3;
}

.footer-section2-logo {
  width: 200px;
  height: 150px;
}

.footer-section2-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-section2-certificate {
  width: 200px;
  height: 150px;
}

.footer-section2-certificate img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer-section3 {
  width: 50%;
  margin: auto;
  order: 1;
}

.footer-link {
  text-decoration: none;
  /* Removes default underline */
  color: inherit;
  /* Inherits text color */
  display: block;
}

.footer-section3-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-bottom: 1px solid white;
  padding: 0.8rem 0 0.5rem 0;
  cursor: pointer;
  position: relative;
  transition: border-bottom 0.5s ease;
}

.list-name {
  position: relative;
  overflow: hidden;
  height: 32px;
  /* Must match one line of text */
  width: 100%;
}

.list-count p {
  font-size: 16px;
  font-family: var(--content);
  font-weight: 300;
}

.list-name h1 {
  font-size: 28px;
  text-transform: uppercase;
  font-family: var(--heading);
  font-weight: 400;
  letter-spacing: 2px;
  width: 100%;
  text-align: left;
  position: absolute;
  left: 0;
  transition: transform 0.5s ease-in-out;
}

.list-name h1:first-child {
  top: 0;
  transform: translateY(0);
}

.list-name h1:last-child {
  top: 100%;
  /* Ensure it's initially below */
  transform: translateY(0);
}

.footer-section3-list:hover .list-name h1:first-child {
  transform: translateY(-100%);
  /* Move up */
}

.footer-section3-list:hover .list-name h1:last-child {
  transform: translateY(-100%);
  /* Move up into view */
}

.footer-section3-list:hover {
  border-bottom: none;
}

.footer-bottom {
  display: grid;
  grid-template-columns: 50% 50%;
  color: white;
  align-items: center;
  justify-items: center;
  padding-top: 5rem;
}

.footer-bottom-section1 p {
  font-size: 16px;
  font-family: var(--content);
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 28px;
}

.footer-bottom-section2 {
  width: 100%;
  margin: auto;
}



.footer-bottom-section3 {
  width: 80%;
}

.footer-bottom-section3-content {
  display: flex;
  justify-content: space-evenly;
}

.footer-policy p,
.footer-cookies p {
  font-size: 16px;
  font-family: var(--content);
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 28px;
  text-transform: capitalize;
  text-decoration: underline;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.523);
}

/* Footer Ends */

/* Subservice starts */

.subservice-main {
  width: 95%;
  margin: 4rem auto;
}

.subservice-section1 {
  padding: 2rem 0;
}

.subservice-heading h1 {
  text-align: center;
  font-size: 38px;
  font-family: var(--heading);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primary-color);
}


.subService-sect1-content {
  display: flex;
  width: 100%;
  gap: 3rem;
  padding-top: 2rem;
}

.subService-content-l {
  width: 40%;
}

.subService-content-r {
  width: 60%;
}

.subService-content-l p {
  font-size: 34px;
  font-family: var(--content);
  line-height: 55px;
  font-weight: 500;
  letter-spacing: 1px;
}

.subService-content-r p {
  font-size: 34px;
  font-family: var(--content);
  line-height: 55px;
  text-align: justify;
}

.sect2-heading h1 {
  font-family: var(--heading);
  width: 50%;
}

.subservice-section2 {
  padding: 5rem 0;
}

.sect2-content {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  /* background: var(--secondary-color); */
  border-radius: 10px;
}

.sect2-content-l {
  width: 95%;
  margin:auto;
  padding:3rem 0;
}

.sect2-content-l-list {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
}

.sect2-content-l-head{
  padding-bottom: 0.3rem;
}

.sect2-content-l-head h1 {
  font-size: 24px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-family: var(--heading);
  position: relative;
}

.sect2-content-l-head h1::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  background: var(--primary-color);
  bottom: 0;
}

.sect2-content-l-para p {
  font-size: 20px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 1px;
  font-family: var(--content);
  text-align: justify;
  word-spacing: 2px;
}

.subservice-section3 {
  background: rgba(237, 237, 237, 1);
  overflow: hidden;
  position: relative;

}

.subservice-section3-bg {
  position: absolute;
  z-index: 1;
}

.subservice-section3-content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
  padding: 5rem 0;
}

.subservice-sect3-l {
  width: 30%;
}

.subservice-sect3-r {
  width: 70%;
  margin-right: 0;
}

.sect3-crosstext h1 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 5px;
  font-family: var(--heading);
  font-size: 44px;
  font-weight: 900;
  color: var(--primary-color);
}

.sect3-r-list1 {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding-bottom: 5rem;
}

.sect3-r-list1-number p {
  font-size: 56px;
  /* font-weight: 900; */
  position: relative;
  color: var(--primary-color);
  font-family: "Monoton", sans-serif;
  font-weight: 400;
}

.sect3-r-list1-number p::after {
  content: "";
  width: 80px;
  height: 80px;
  background: var(--primary-color);
  position: absolute;
  border-radius: 50%;
  opacity: 15%;
  left: -50%;
  bottom: 5%;
}

.sect3-r-list1-content {
  width: 80%;
  margin-right: 0px;
}

.sect3-r-list1-content p {
  font-size: 26px;
  font-family: var(--content);
  width: 100%;
  letter-spacing: 2px;
  word-spacing: 2px;
  line-height: 40px;
  font-weight: 600;
}

.sect3-r-list2 {
  display: flex;
  gap: 1rem;
  box-shadow: 0px 4.32px 91.95px 0px rgba(0, 0, 0, 0.26);
  width: 90%;
  padding: 2rem;
  justify-content: center;
  border-radius: 15px;
  background: white;
  margin-bottom: 5rem;
}

.sect3-r-list3 {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.subservice-section4 {
  width: 95%;
  margin: 5rem auto;
}

.subservice-section4-content {
  display: grid;
  grid-template-columns: 40% 40%;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  row-gap: 15rem;
  position: relative;
}

.section4-chooseus-mobile {
  display: none;
}

.section4-chooseus-desktop {
  position: absolute;
  display: flex;
  /* grid-template-columns: 50% 50%; */
  width: 100%;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
}

.chooseus-desktop-head1 {
  width: 50%;
  margin: auto;
}

.chooseus-desktop-head1 h1 {
  font-weight: 900;
  font-size: 60px;
  font-family: var(--heading);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  color: var(--primary-color);
  opacity: 11%;
}

.chooseus-desktop-img {
  width: 300px;
  height: 300px;
  margin: auto;
}

.chooseus-desktop-img img {
  width: 100%;
  height: 100%
}

.sect4-list-header {
  display: flex;
  align-items: center;
}

.list-header-icon {
  width: 80px;
  height: 80px;
}

.list-header-icon img {
  width: 100%;
  height: 100%;
}

.list-header-head h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-family: var(--heading);
  letter-spacing: 1px;
}

.sect4-list-content {
  width: 90%;
}

.sect4-list-content p {
  font-family: var(--content);
  font-size: 22px;
  line-height: 35px;
  text-align: justify;
}



.subservice-section5 {
  width: 95%;
  margin: auto;
  background: linear-gradient(114deg, rgba(27, 27, 27, 1) 25%, rgba(0, 0, 0, 1) 25%, rgba(0, 0, 0, 1) 39%, rgba(27, 27, 27, 1) 39%);
}

.subservice-section5-contact {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  padding: 5rem 0;
  color: white;
  gap: 3rem;
  justify-content: space-between;
}

.section5-contact-head {
  width: 40%;
  margin: auto;
}

.section5-contact-head h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-family: var(--heading);
  letter-spacing: 2px;
}

.section5-contact-content {
  width: 50%;
}

.section5-contact-content p {
  font-size: 34px;
  letter-spacing: 2px;
  word-spacing: 2px;
  font-family: var(--content);
  font-weight: 500;
  line-height: 50px;
  position: relative;

}

.section5-quotation1 {
  color: var(--primary-color);
  font-size: 50px;
  position: absolute;
  left: -5%;
}


.section5-quotation {
  color: var(--primary-color);
  font-size: 50px;
}


.subservice-section5-subtag {
  width: 80%;
  margin: auto;
  padding: 1rem 0;
}

.subservice-section5-subtag p {
  font-size: 28px;
  font-family: var(--content);
  text-align: center;
}

/* Subservice ends */